/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  padding: 2%;
  background-color: lightgray;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
header {
  width: 100%;
  padding: 2%;
  border-bottom: 1px black solid;
}
header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
header nav a {
  font-size: 1.5rem;
  color: black;
}
h1 {
  padding: 3%;
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 1px black solid;
  display: flex;
  justify-content: center;
}
section {
  padding: 2%;
  border-bottom: 1px black solid;
}
section h2 {
  color: darkorange;
  text-decoration: underline;
  font-size: 1.8rem;
}
section .skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
}
section .skills h3 {
  font-weight: 700;
  font-size: 1.6rem;
}
section .skills p {
  align-items: center;
  padding-top: 5%;
  font-size: 1.3rem;
}
section .experience {
  padding-top: 2%;
}
section .experience h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 3%;
}
section .experience p {
  padding-bottom: 4%;
  font-size: 1.3rem;
}
section .education {
  padding-top: 2%;
}
section .education h3 {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 3%;
}
section .education p {
  padding-bottom: 4%;
  font-size: 1.3rem;
}
